:root {
    --primary-background-1: #1e1e1e;
    --primary-background-2: #2e2e2e;
    --primary-background-3: #3e3e3e;
    --primary-background-4: #4e4e4e;
    --primary-background-5: #5e5e5e;
    
    --primary-text-1: #ffffff;
    --primary-text-2: #cccccc;
    --primary-text-3: #999999;
    --primary-text-4: #666666;
    --primary-text-5: #333333;

    --primary-button-background-1: #1e1e1e;
    --primary-button-background-2: #2e2e2e;
    --primary-button-background-3: #3e3e3e;

    --primary-button-text-1: #ffffff;
    --primary-button-text-2: #cccccc;
    --primary-button-text-3: #999999;

    --primary-button-hover-background-1: #2e2e2e;
    --primary-button-hover-background-2: #3e3e3e;
    --primary-button-hover-background-3: #4e4e4e;

    --primary-button-active-background-1: #3e3e3e;
    --primary-button-active-background-2: #4e4e4e;
    --primary-button-active-background-3: #5e5e5e;

    --padding-large: 30px;
    --padding-medium: 20px;
    --padding-small: 10px;
    --padding-tiny: 5px;
}

.learnplus-wrapper *:not(i) {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.learnplus-panel {
    position: fixed;
    background-color: var(--primary-background-1);
    border: 1px solid var(--primary-background-4);
    border-radius: 5px;
    box-shadow: 0 0 5px #000;
    z-index: 99999;
    color: var(--primary-text-2);
    display: flex;
    flex-direction: column;
    text-align: left;
}

.learnplus-panel-topbar {
    height: 40px;
    border-bottom: 1px solid var(--primary-background-4);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--primary-text-1);
    padding: 0 var(--padding-small);
}

.learnplus-panel-title {
    user-select: none;
    cursor: default;
    font-size: 16px;
}

.learnplus-panel-content {
    padding: var(--padding-medium);
    display: flex;
    flex-direction: column;
}

.learnplus-panel-close {
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.1s;
}

.learnplus-panel-close:hover {
    background-color: var(--primary-background-2);
}

.learnplus-panel-close:active {
    background-color: var(--primary-background-3);
    transition: none;
}

.learnplus-button-1 {
    padding: var(--padding-tiny) var(--padding-small);
    border-radius: 5px;
    background-color: var(--primary-button-background-1);
    color: var(--primary-button-text-1);
    border: 1px solid var(--primary-background-4);
    cursor: pointer;
    user-select: none;
    transition: background-color 0.1s;
    width: fit-content;
}

.learnplus-button-1:hover {
    background-color: var(--primary-button-hover-background-1);
}

.learnplus-button-1:active {
    background-color: var(--primary-button-active-background-1);
    transition: none;
}

.learnplus-text-1 { color: var(--primary-text-1); }
.learnplus-text-2 { color: var(--primary-text-2); }
.learnplus-text-3 { color: var(--primary-text-3); }
